* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000;
}

.card {
  background-image: url(img/1a.png);
  position: absolute;
  border-radius: 20px;
  height: 450px;
  width: 400px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 1rem darkblue);
  overflow: hidden;
  cursor: pointer;
}

.card-blur {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  background-color: #000;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
  opacity: 0.6;
}

.footer {
  z-index: 1;
  position: absolute;
  height: 115px;
  width: 100%;
  bottom: 0;
}

svg#curve {
  position: absolute;
  fill: #000;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
}

.connections {
  height: 80px;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
}

.connection {
  height: 40px;
  width: 35px;
  border-radius: 10%;
  background-color: #000;
  display: inline-block;
  padding: 5px;
  transform: translateY(200px);
  margin-left: 15px;
  transition: transform 1s cubic-bezier(0.46, 1.48, 0.18, 0.81);
}

.card:hover .connection {
  transform: translateY(0px);
}

.info {
  font-family: Inconsolata;
  padding-left: 20px;
  transform: translateY(250px);
  transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
}

.card:hover .info {
  transform: translateY(0px);
}

.name {
  font-weight: bolder;
  padding-top: 5px;
  color: #fff;
}

.job {
  margin-top: 10px;
  color: #fff;
  
}

.connection.instagram {
  transition-delay: 0.06s;
}

.connection.twitter {
  transition-delay: 0.12s;
}

i {
  font-size: 25px;
  position: relative;
  display: flex !important;
  justify-content: center;
  margin-top: 15%;
  background-color: #000;
  color: #fff;
}